@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
*{
    font-family: Spartan;
}

html{ 
    background: url(background.jpg) no-repeat center fixed; 
    background-size: cover;
}   
    
.header{
    background: url(judullagi.jpg) left top repeat;
    padding: 15px;
    background-size: 250px, 350px, auto;
    padding:20px;
    text-align: center;
    font-size: 30px;
    color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes example{
    0%   {color:red}
    25%  {color:yellow}
    50%  {color:blue}
    75%  {color:green}
    100% {color:red}
}

.link{
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.739);
} 

.dropdown:hover .dropbtn {
    background-color: red;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: cornsilk;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color:cornsilk
}
.dropdown:hover .dropdown-content {
    display: block;
}

.link a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes example{
    0%   {color:red}
    25%  {color:yellow}
    50%  {color:blue}
    75%  {color:green}
    100% {color:red}
}

.galeri>.galerian{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin-left: 40%;
}

:root{
    --warnaputih:whitesmoke;
    --warnaabu-abu:gray;
    --warnahitam:black;
    --warnakuning:yellow;
    --warnahijauterang:greenyellow;
}

.forback{
    background: url(backback.jpg) no-repeat center fixed; 
    background-size:contain;    
}

.vajra1{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px var(--warnahitam);
    color:white;
    background-color:var(--warnaabu-abu);
    max-width: 60%;
    width:100%;
    margin-left:20%;
}
.web1{
    color: blue;
}
.web2{
    color: blue;
}
.web3{
    color: blue;
}

.vajra1-1{
    padding:5px 5px 5px 5px;
    background-color:var(--warnakuning);
    border:2px solid var(--warnahijauterang);
    color: black;
    text-shadow: 0px 0px 5px dimgrey;
    font-weight: bold;
}

.vajra2{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px black;
    background-color:var(--warnaabu-abu);
    width:60%;
    margin-left:20%;
    color: white;
}

.vajra2-2{
    padding:5px 5px 5px 5px;
    background-color: var(--warnakuning);
    border:2px solid var(--warnahijauterang);
    line-height: 20px;
    color: black;
    text-shadow: 0px 0px 5px purple;
}
.vajra2-1{
    border: 3px solid black;
    width: 100%;
}

.vajra3{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px black;
    color: white;
    background-color:var(--warnaabu-abu);
    width:60%;
    margin-left:20%;
}
.vajra3-1{
    padding:5px 5px 5px 5px;
    background-color: var(--warnakuning);
    border:2px solid var(--warnahijauterang);
    line-height: 20px;
    max-height: 20%;
    height: 100%;
    text-shadow: 0px 0px 5px darkslateblue;
    color: black;
}
.vajra4{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px black;
    background-color:var(--warnaabu-abu);
    width:60%;
    color: white;
    margin-left:20%;
}
.vajra4-2{
    max-height: 20%;
    height: 100%;
    padding:5px 5px 5px 5px;
    background-color: var(--warnakuning);
    border:2px solid var(--warnahijauterang);
    text-shadow: 0px 0px 5px red;
    line-height: 20px;
    color: black;
}
.vajra5{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px black;
    color: white;
    background-color:var(--warnaabu-abu);
    width:60%;
    margin-left:20%;
}
.vajra5-2{
    max-height: 20%;
    height: 100%;
    padding:5px 5px 5px 5px;
    background-color: var(--warnakuning);
    border:2px solid var(--warnahijauterang);
    line-height: 20px;
    color: black;
    text-shadow: 0px 0px 5px green;
}
.vajra6{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px black;
    color: white;
    background-color:var(--warnaabu-abu);
    width:60%;
    margin-left:20%;
}
.vajra6-2{
    max-height: 20%;
    height: 100%;
    padding:5px 5px 5px 5px;
    background-color: var(--warnakuning);
    border:2px solid var(--warnahijauterang);
    line-height: 20px;
    color: black;
    text-shadow: 0px 0px 5px blue;
}
.footer{
    padding: 20px;
    text-align: center;
    background: url(judullagi.jpg) left top repeat;
    padding: 20px;
    background-size: 250px, 350px, auto;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes example{
    0%   {color:red}
    25%  {color:yellow}
    50%  {color:blue}
    75%  {color:green}
    100% {color:red}
}
